.input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  .icon-wrapper {
    position: absolute;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    svg {
      color: $input-placeholder-color; 
    }
  }
}
.icon-wrapper+.input-inner{
  padding-right: 35px;
}
.input-inner {
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  transition: $input-transition;
  &:hover{
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: $input-focus-box-shadow;
  }
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}
.sp-input-group-prepend,
.sp-input-group-append {
  display: flex;
  align-items: center;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0;
  font-size: $input-font-size; // Match inputs
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: $input-group-addon-color;
  text-align: center;
  white-space: nowrap;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius;
} 
.input-group > .sp-input-group-prepend,
.input-group.input-group-append > .input-inner{
  @include border-right-radius(0);
}
.input-group > .sp-input-group-append,
.input-group.input-group-prepend > .input-inner {
  @include border-left-radius(0);
}

.input-size-sm .input-inner {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $input-font-size-sm;
  border-radius: $input-border-radius-sm;
}

.input-size-lg .input-inner {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $input-font-size-lg;
  border-radius: $input-border-radius-lg;
}