@mixin virtual-position() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.virtual-container {
  overflow: auto;
  position: relative;
  .virtual-phantom {
    @include virtual-position();
    z-index: -1;
  }
  .virtual-list {
    @include virtual-position();
    padding: 0;
    .virtual-item {
      list-style: none;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background-color: $primary;
        color: $gray-100;
      }
    }
  }
}